# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.build_results
.listener_PID
.lock-*
.waf*
build/
*.sublime-project
*.sublime-workspace
*.bin
.owncloud*
callgrind*
.floo*
._sync_*